<!DOCTYPE html>
<html>
<head>
  <title>Yardmarshal</title>
  <%= stylesheet_link_tag    "yardmarshal/application", media: "all" %>
  <%= javascript_include_tag "yardmarshal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
